<!--
A footer partial that gets injected into the footer.
Check themes/linkita/templates/partials/footer.html.
-->

{%- if config.extra.footer.site_repository %}
<div class="flex justify-center mt-4">
  <a
    class="link flex items-center gap-2"
    href="{{ config.extra.footer.site_repository }}"
    target="_blank"
    title="View source code"
  >
    <img
      class="inline-block h-4 w-4 dark:invert"
      src="icons/github.svg"
      alt="GitHub"
    />
    <span>Open on GitHub</span>
  </a>
</div>
{%- endif %}
